<div *ngIf="product.val.title" class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ product.val.imageUrl }}" *ngIf="product.val.imageUrl" alt="Product image">
    <div class="card-body">
      <h5 class="card-title">{{ product.val.title }}</h5>
      <p class="card-text">{{ product.val.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer" *ngIf="showActions && shoppingCart">
      <button *ngIf="shoppingCart.getQuantity(product) == 0; else showCartNumber" (click)="addToCart()" class="btn btn-secondary btn-block">Add to cart</button>
      <ng-template #showCartNumber>
        <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
      </ng-template>
    </div>
  </div>