<div *ngIf="product.val.title" class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ product.val.imageUrl }}" *ngIf="product.val.imageUrl" alt="Product image">
    <div class="card-body">
      <h5 class="card-title">{{ product.val.title }}</h5>
      <p class="card-text">{{ product.val.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer">
      <button *ngIf="showActions" (click)="addToCart(product)" class="btn btn-primary btn-block">Add to cart</button>
    </div>
  </div>