<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a routerLink="/" class="navbar-brand">O</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Shopping cart</a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li ngbDropdown class="nav-item d-inline-block" *ngIf="currentUser; else anonymousUser">
        <a class="nav-link" id="userMenu" ngbDropdownToggle>
          {{ currentUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userMenu">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <ng-container *ngIf="currentUser.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          </ng-container>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
